/* ================= Header ================= */
header {
  width: 100%;
  background-color: #000;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 60px; 
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  display: block;
  margin: 0;
}

header .logo a {
  display: block;   /* インライン → ブロックにする */
  margin: 0;        /* デフォルト余白を消す */
  padding: 0; 
}

